@using ProjeNarmAfzar.Application.Statics
@using ProjeNarmAfzar.Domain.ViewModels.Video
@model ProjeNarmAfzar.Domain.ViewModels.Video.FilterVideoViewModel
@{
    ViewData["Title"] = "لیست ویدیو ها";
}

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-blue">
                    <span class="widget-caption"> فیلتر</span>
                </div>
                <div class="widget-body">
                    <div>
                        <form id="filter-form" method="get" asp-area="Admin" asp-controller="Video" asp-action="VideoLists">
                            <div class="form-group">
                                <label>عنوان</label>
                                <input asp-for="Title" type="text" class="form-control">
                                <input type="hidden" asp-for="Page" />
                            </div>
                            <div class="form-group">
                                <label>وضعیت</label>
                                <select asp-for="VideoState" class="form-control">
                                    <option value="@FilterVideoState.All">همه</option>
                                    <option value="@FilterVideoState.NotDeleted">حذف نشده</option>
                                    <option value="@FilterVideoState.Deleted">حذف شده</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-blue">فیلتر</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-8">
        <div class="well with-header with-footer">
            <div class="header bordered-pink">
                @ViewData["Title"]
            </div>
            <div>
                <a asp-area="Admin" asp-controller="Video" asp-action="Create" class="btn btn-success"> ثبت ویدیو جدید</a>
            </div>
            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="hidden-xs">
                                <i class="fa fa-user"></i>  تصویر ویدیو
                            </th>
                            <th>
                                <i class="fa fa-briefcase"></i> نام ویدیو
                            </th>
                            <th>
                                <i class="fa fa-shopping-cart"></i> دستورات
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var entity in Model.Entities)
                        {
                            <tr id="video-row-@entity.Id">
                                <td>
                                    <img src="@PathTools.VideoOriginImage@entity.ImageName" width="75" />
                                </td>
                                <td>
                                    @entity.Title
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Video" asp-action="Edit" asp-route-videoId="@entity.Id" class="btn btn-default btn-xs purple"><i class="fa fa-edit"></i>  ویرایش ویدیو </a>
                                    @if (!entity.IsDelete)
                                    {
                                        <a onclick="RemoveVideo(@entity.Id)" asp-area="Admin" asp-controller="Video" asp-action="RemoveVideo" asp-route-id="@entity.Id" class="btn btn-danger btn-xs white"><i class="fa fa-trash"></i>  حذف ویدیو </a>
                                    }
                                    else
                                    {
                                        <a onclick="ReturnVideo(@entity.Id)" asp-area="Admin" asp-controller="Video" asp-action="RemoveVideo" asp-route-id="@entity.Id" class="btn btn-success btn-xs white"><i class="fa fa-repeat"></i>  بازگردانی ویدیو </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer">
                    <ul class="pagination">
                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            <li onclick="FillPageId(@i)" class="@(Model.Page == i ? "active" : "")"><a href="#">@i</a></li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <partial name="_NotFoundItemPartial" />
            }
        </div>
    </div>
</div>

@section scripts
    {
    <script src="/admin/custom/js/Custom.js">
    </script>
}





